
  <ul class="river-card-info-list">
    <li class="stat">
      <h5>Put In</h5>
      <span class="stat-value">
        <em>{{river.access.putin.name}}</em>
      </span>
      <a href="#" class="icon-earth">Directions</a>
    </li>
    <li class="stat">
      <h5>Take Out</h5>
      <span class="stat-value">
        <em>{{river.access.takeout.name}}</em>
      </span>
      <a href="#" class="icon-earth">Directions</a>
    </li>
    <li class="stat">
      <h5>Location</h5>
      <span class="stat-value">
        <em>{{river.location.state}},
        {{river.location.country}}</em>
      </span>
      <a href="#" class="icon-earth">Map</a>
    </li>
    <li class="stat">
      <h5>Miles</h5>
      <span class="stat-value">
        <em>{{river.stats.miles}}</em>mi
      </span>
    </li>
    <li class="stat">
      <h5>Vetical</h5>
      <span class="stat-value">
        <em>{{river.stats.vertical}}</em>ft
      </span>
    </li>
    <li class="stat">
      <h5>Gradient</h5>
      <span class="stat-value">
        <em>{{river.stats.gradient}}</em>ft/mi
      </span>
    </li>
    <li class="stat">
      <h5>Difficulty</h5>
      <span class="stat-value">
        <em>{{river.stats.difficultyclass}}</em>
      </span>
    </li>
    <li class="stat">

    </li>
  </ul>
